/*-- scss:defaults --*/

// Colors
$light-sage-green: #194D33;
$dark-clay: #6D0303;
$move: #035A6D;
$paper: #FFF6ED;

// Base Documents Colors
$navbar-bg: $light-sage-green; // navbar
$navbar-fg: $dark-clay; // navbar foreground elements
$navbar-hl: $light-sage-green; // highlight color when hovering over navbar links
$body-bg: $paper; // page background 
$body-color: $dark-clay; // page text 
$footer-bg: $move; // footer 
$link-color: $light-sage-green; // hyperlinks 

// Inline code
//$code-bg: $cream; // inline code background color
//$code-color: $purple; // inline code text color

// Code blocks
//$code-block-bg: $cream; // code block background color